$primary : #e64e4078;
$primary-link : #FFFFFF;
$primary-link-hover : rgb(22, 28, 80);
$link-red : red;
.app-footer {
  background-color: $primary;
  margin: 0;
  min-height: 300px;
  background-size: cover;
  .app-footer-overlay {
    background-color: $primary;
  }
  .footer-credentials{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color:#FFFFFF;
  }
 
  .app-footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    .header-logo {
      height: auto;
      overflow: hidden;
      width: 300px;
      margin: 50px;
    }
  }
  .app-footer-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .app-footer-aide {
      h2 {
        color: #ffffff;
        @media (max-width: 650px) {
          width: 50%;
        }
      }
      width: 33.3333%;
      @media (max-width: 650px) {
        width: 100%;
      }
    }

    ul.cd-ftr-list{
      display: flex;
      flex-direction: column;
      li {
        a.nav-link {
          padding: 10px;
          display: flex;
          color: $primary-link;
          text-decoration: none;
          &:hover {
            border-bottom: 4px solid $link-red;
          }
        }
        span.cd-i {
          margin-right: 10px;
        }
      }
    }
    .surlignement{
      height: 20px;
      border-bottom :1px solid red;
    }
  }
}
