body {
  margin: 0px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 760px;
  margin: 0px auto;
  @media (max-width: 800px) {padding: 0 25px;}
}

h1 {
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  width: 100%;
  color:#19205a;
  border-bottom: 7px solid #e64d40;
  text-transform: uppercase;
}

h2,h3,h4,h5,h6 {
  display: inline-block;
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  color:#19205a;
}




ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.app-main {
  width: 100%;
  background-color: rgb(202, 202, 202);
  .app-main-wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 80vh;
    .container-sidebar {
      ul {
        padding: 10px;
      }
      h2,h3,h4,h5,h6 {
        color: primary;
        border-bottom: 7px solid #e64d40;
        text-transform: uppercase;
      }
      a {
        color: black;
      }
    }
    
  }
}